---
layout: default
---

<div class="block splash" id="splash">
  <div class="splash-image">
  </div>
  <div class="splash-content hpad vpad">
    <h1>Free Broadcast Concert “Back On Stage!”</h1>
    <p>
      Re-connect with your Merced Symphony on <strong>Friday, Sept. 11, 2020 at 7 p.m.</strong> as the Merced Theatre comes alive for a performance of Vivaldi’s <em>Four Seasons</em>, Tchaikovsky’s <em>Serenade for Strings</em>, and other classics spiced with an electric violin under the direction of Maestro Ming Luke.
    </p>
    <p>
      Access “Back On Stage” on Comcast channel 97, AT&T U-verse channel 99, MCOE’s Facebook and YouTube accounts, and at <a href="//www.mcoe.org/metv">www.mcoe.org/metv</a>.
    </p>
    <p>
      This live-streamed production is made possible by the Merced County Office of Education in collaboration with the Merced Theatre Foundation.
    </p>
  </div>
</div>

<div class="block schedule" id="season">
  {% for event in site.data.season %}
  <div class="event js-square hpad {% if event.class %}{{ event.class | prepend: 'event-' }}{% endif %}">
    <a class="event-date" href="{{ event.url }}">
      <div class="event-month">
        <span>{{ event.daymonth}}</span>
      </div>
      <div class="event-year">
        <span>{{ event.year }}</span>
      </div>
    </a>
    <div class="event-content">
      <h2><a class="sneaky" href="{{ event.url }}">{{ event.title }}</a></h2>
      <p><small><a class="sneaky" href="{{ event.url }}">{{ event.time }}</a></small></p>
      <p>{{ event.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="block director vpad">
  <div class="director-content hpad">
    <h1>Meet the Music Director</h1>
    <p class="larger">
      Maestro Ming Luke is a versatile conductor who has excited audiences in Merced and around the world with energy, creativity, and charisma not seen since Leonard Bernstein and a conducting style acclaimed as "vibrant," “mind-blowing,” and “spectacular.”
    </p>
    <p><a class="button" href="/music-director">Learn More</a></p>
  </div>
</div>