---
layout: default
---

<div class="block splash" id="splash">
  <div class="splash-image">
  </div>
  <div class="splash-content hpad vpad">
    <h1>Presenting the <em>Winter’s Waltz</em> Gala!</h1>
    <p>
      Join us for an elegant evening dinner and auction supporting MSA’s concert programs. Friday, <strong>January 25, 2019 from 6:00-8:30 p.m.</strong>, at the Merced Multicultural Arts Center, <strong>645 W. Main St., Merced</strong>.
    </p>
    <p>
      <a class="button" href="/assets/documents/2019-Winters-Waltz-Poster.pdf">Ticket Information</a>
    </p>
  </div>
</div>

<div class="block schedule" id="season">
  {% for event in site.data.season %}
  <div class="event js-square hpad {% if event.class %}{{ event.class | prepend: 'event-' }}{% endif %}">
    <a class="event-date" href="{{ event.url }}">
      <div class="event-month">
        <span>{{ event.date | date: "%b %d"}}</span>
      </div>
      <div class="event-year">
        <span>{{ event.date | date: "%Y" }}</span>
      </div>
    </a>
    <div class="event-content">
      <h2><a class="sneaky" href="{{ event.url }}">{{ event.title }}</a></h2>
      <p><small><a class="sneaky" href="{{ event.url }}">{{ event.time }} at the Merced Theater</a></small></p>
      <p>{{ event.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="block director vpad">
  <div class="director-content hpad">
    <h1>Meet the Music Director</h1>
    <p class="larger">
      Recognized nationally for his innovative education programs, Ming Luke has written, arranged, and performed over 120 education concerts. He has served on grant panels for the National Endowment of the Arts and the Sacramento Metropolitan Arts Commission.
    </p>
    <p><a class="button" href="/music-director">Learn More</a></p>
  </div>
</div>