---
layout: default
---

<div class="block splash" id="splash">
  <div class="splash-image">
  </div>
  <div class="splash-content hpad vpad">
    <h1>
      Season Finale “Reconnecting” In-Person Concert Saturday, July 3, 2021 @ 7:30 PM
    </h1>
    <p>
      <a class="button" href="https://bit.ly/MSAtube">Watch on Youtube</a>
    </p>
    <p>
      The Merced Symphony triumphantly returns live, in-person symphonic music to the Merced Theatre!  Featuring Felix Mendelssohn’s <em>Reformation</em>, Antonin Dvorak’s <em>New World</em>, and <em>An American In Paris</em> by George Gershwin, this performance joins in Merced’s celebration of America with powerful melodies and familiar tunes that are not to be missed!
    </p>
    <p>
      Tickets are $25 for general admission or $10 for students with ID.  Purchase at <a href="tickets.mercedtheatre.org">tickets.mercedtheatre.org</a> or at the Merced Theatre Box Office.
    </p>
    <p>
      Live-stream available on MSA’s <a href="https://bit.ly/MSAtube?">YouTube channel</a>.  (Note: <em>An American In Paris</em> will not be broadcast.)
    </p>
  </div>
</div>

<div class="block schedule" id="season">
  {% for event in site.data.season %}
  <div class="event js-square hpad {% if event.class %}{{ event.class | prepend: 'event-' }}{% endif %}">
    <a class="event-date" href="{{ event.url }}">
      <div class="event-month">
        <span>{{ event.daymonth}}</span>
      </div>
      <div class="event-year">
        <span>{{ event.year }}</span>
      </div>
    </a>
    <div class="event-content">
      <h2><a class="sneaky" href="{{ event.url }}">{{ event.title }}</a></h2>
      <p><small><a class="sneaky" href="{{ event.url }}">{{ event.time }}</a></small></p>
      <p>{{ event.description }}</p>
    </div>
  </div>
  {% endfor %}
</div>

<div class="block director vpad">
  <div class="director-content hpad">
    <h1>Meet the Music Director</h1>
    <p class="larger">
      Maestro Ming Luke is a versatile conductor who has excited audiences in Merced and around the world with energy, creativity, and charisma not seen since Leonard Bernstein and a conducting style acclaimed as "vibrant," “mind-blowing,” and “spectacular.”
    </p>
    <p><a class="button" href="/music-director">Learn More</a></p>
  </div>
</div>
