* {
  box-sizing: border-box;
}

* > :first-child {
  margin-top: 0 !important;
}

* > :last-child {
  margin-bottom: 0 !important;
}

$sans-serif: "Lato", sans-serif;
$serif: "PT Serif", serif;

body {
  font-size: 100%;
  font-family: $sans-serif;

  @include iPadWidth {
    font-size: 125%;
  }
}

$vertical-rhythm: 2rem;
$p-line-height: 1.5;
$h1-line-height: 1.15;
$text-column-width: 50rem;

p {
  font-family: $serif;
  margin: 0 0 $vertical-rhythm 0;
  line-height: $p-line-height;
  max-width: $text-column-width;
}

h1 {
  margin: $vertical-rhythm 0;
  line-height: $h1-line-height;
  font-weight: 900;
  max-width: $text-column-width;
}

h2, h3, h4, h5, h6 {
  margin: $vertical-rhythm 0 0 0;
  line-height: $p-line-height;
  font-weight: 900;
  max-width: $text-column-width;
}

img {
  max-width: 100%;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: lighten($blue, 10%);
  }
}

strong {
  font-weight: 900;
}

small {
  font-family: $sans-serif;
}

%has-dark-background {
  color: $white;

  a {
    color: $white;
    text-decoration: underline;
    &:hover {
      color: lighten($blue, 10%);
    }
  }
}

%base-horizontal-padding {
  padding-left: 1rem;
  padding-right: 1rem;

  @include iPhoneWidth {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

%square-vertical-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include iPhoneWidth {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.hpad {
  @extend %base-horizontal-padding;
}

.spad {
  @extend %base-horizontal-padding;
  @extend %square-vertical-padding;
}

%base-vertical-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include iPadWidth {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include iPadProWidth {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  @include MacBookAirWidth {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.vpad {
  @extend %base-vertical-padding;
}

%inner-box-wrap {
  padding: 0.5rem;

  @include iPhoneWidth {
    padding: 1rem;
  }
}

%inner-box {
  padding: 0.5rem;

  @include iPhoneWidth {
    padding: 1rem;
  }
}

.block {
  @extend %clearfix;
}

.child {
  display: block;
  @extend %base-horizontal-padding;
  @extend %base-vertical-padding;
}

.block-valign {
  @extend .block;
  display: table;
  width: 100%;
}

.child-valign {
  @extend .child;
  display: table-cell;
  vertical-align: middle;
}

a.button {
  display: inline-block;
  background-color: $blue;
  color: $white;
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: bold;
  padding: 0.4em 1.5em 0.5em 1.5em;
  border-radius: 1rem;
  @extend %shadow-2;

  &:hover {
    color: $white;
    background-color: lighten($blue, 10%);
  }
}

.splash {
  width: 100%;
  background-color: rgb(44, 25, 19);

  @include iPadProWidth {
    display: table;
  }
}

.splash-image {
  width: 100%;
  height: 300px;
  background-color: $black;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  background-image: url('/assets/rwyan/conductor-solo.jpg');

  @include iPhoneLandscapeWidth {
    height: 450px;
  }

  @include iPadWidth {
    height: 550px;
  }

  @include iPadProWidth {
    height: 700px;
    background-position: 40% top;
    width: span(1 of 2);
    display: table-cell;
  }

  @include MacBookAirWidth {
    background:
      linear-gradient(
        to left,
        rgba(44, 25, 19, 1.00),
        rgba(44, 25, 19, 0.00) 15%
      ),
      url('/assets/rwyan/conductor-solo.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: $black;
  }

  @include MacBookProWidth {
    background:
      linear-gradient(
        to left,
        rgba(44, 25, 19, 1.00) 5%,
        rgba(44, 25, 19, 0.00) 50%
      ),
      url('/assets/rwyan/conductor-solo.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: $black;
  }
}

.splash-content {
  @extend %has-dark-background;
  width: 100%;

  @include iPadProWidth {
    width: span(1 of 2);
    display: table-cell;
    vertical-align: middle;
  }

  p {
    font-size: 1.25em;
  }
}

#season {
  background-color: $silver;
  @extend %inner-box-wrap;
}

.season-event {
  display: table;
  float: left;
  background-color: $silver;
  @extend %inner-box-wrap;
  width: span(1 of 1);

  @include iPhoneLandscapeWidth {
    width: span(1 of 2);
  }

  @include iPadProWidth {
    width: span(1 of 3);
  }
  
  @include MacBookAirWidth {
    width: span(1 of 4);
  }
}

.inner-box {
  @extend %inner-box;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  position: relative;
  border-radius: 0 0.5em 0.5em 0.5em;
  @extend %shadow-1;
  background-color: $white;
}

.season-event-date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $olive;
  @extend %inner-box;
  color: $white;
  border-radius: 0 0 0.5em 0;
}

.schedule {
  background-color: $silver;
}

.event {
  float: left;
  background-color: $white;
  width: span(1 of 1);
  border-top: 0.5rem solid $olive;

  @include iPhoneLandscapeWidth {
    width: span(1 of 2);
  }

  @include iPadProWidth {
    width: span(1 of 3);
  }
  
  @include MacBookAirWidth {
    width: span(1 of 4);
  }
}

.event-date {
  display: inline-block;
  background-color: $olive;
  @extend %has-dark-background;
  padding-top: 0.5em;
  padding-bottom: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.event-month {
  font-weight: 900;
}

.event-content {
  padding-top: 1em;
  padding-bottom:1rem;
}