---
layout: default
scss: placeholder
---

<div class="block">
  <div class="child placeholder">
    <p class="placeholder-logo">
      <img src="/assets/msa_logo.png"/>
    </p>
    <h2 class="placeholder-name">
      Merced Symphony Association
    </h2>
    <p class="placeholder-text">
      We are currently rebuilding our website. Sorry for the inconvenience! In the meantime, please see our <a href="//mercedsymphony.b-cdn.net/season_brochure.pdf">Season Brochure</a> for up-to-date information on our upcoming performances. For more news, please follow our <a href="https://www.facebook.com/MercedSymphony/">Facebook Page</a>.
    </p>
  </div>
</div>